@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin clear-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

@mixin clear-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-stngs($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}
