/* Цвета */
$main-color: #328ecc;
$secondary-color: #ffe6eb;

/* Шрифты */
$base-font: "Roboto", "Arial", sans-serif;

/* Вьюпорты */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
