.header {
  @include flex-center;
  justify-content: space-between;
  padding: 10px 64px;
  font-family: $base-font;
  background-color: $secondary-color;
    &__logo-link {
      text-decoration: none;
      color: #000000;
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
    }
    &__lang-check {
      @include flex-center;
      @include clear-button;
      column-gap: 6px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      text-transform: uppercase;
        &::before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background-image:url("../images/icons/lang.svg");
        }
    }
    &__search {
      @include clear-button;
      width: 48px;
      height: 48px;
      border-radius: 12px;
      background: rgba(208, 208, 208, 0.2) url("../images/icons/search.svg") center no-repeat;
    }
    &__wrapper {
      @include flex-center;
      column-gap: 16px;
    }
}
