.hero-banner {
  &__wrapper {
    position: relative;
    padding: 55px;
    background: linear-gradient(#328ecc 100%, #3f8abe 100%, #3f8abe00 0%);
    border-radius: 16px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 400px;
        height: 266px;
        top: -5px;
        right: -30px;
        background-image: url(../images/hero-banner-bg.png);
      }
  }
  &__title {
    @include clear-list;
    @include font-stngs(32px, 40px, 600);
    color: #ffffff;
    max-width: 420px;
  }
  &__list {
    @include clear-list;
    @include flex-center;
    gap: 12px;
    margin-top: 12px;
  }
  &__item {
    padding: 20px 33px;
    background-color: #ffffff;
    border-radius: 16px;
    p {
      margin: 0;
    }
  }
  &__item-title {
    @include font-stngs(36px, 36px, 600);
  }
  &__item-description {
    @include font-stngs(16px, 21px, 500);
    margin-top: 4px;
  }
}

