.main {
  display: grid;
  grid-template-columns: 205px 1fr 205px;
  font-family: $base-font;
  background-color: #f5f5f5;
}

.main__left-side,
.main__center-side,
.main__right-side {
  margin-top: 30px;
}

.main__center-side {
  padding: 0 40px;
}
