.popular-questions-block {
  margin-top: 72px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @include font-stngs(32px, 40px, 600);
    margin: 0;
  }
  &__list {
    @include clear-list;
    @include flex-center;
    column-gap: 8px;
  }
}
